* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'robotobold';
    src: url('./fonts/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('./fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

:root {
    font-family: 'robotobold', sans-serif;
    --main-color: #F04043;
    --bright-background: #f3f3f3;
    --dim-background: #D8D5C8;
    --shadow: #a1a1a1;
    --bright-contrast: #358600;
    --dim-contrast: #07090F;
    --nav-bar-text-offset: 0.75rem;
    --border-padding: 18px;
    --header-icon-height: 1.75rem;
    --main-content-gap: 24px;
    --main-content-border-radius: 8px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.nav-bar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content repeat(11, 3rem) 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--main-color);
    color: var(--bright-background);
    padding: var(--border-padding);
    font-size: 1.25rem;
}

.nav-bar .title {
    font-size: 2rem;
    justify-self: start;
    padding-left: var(--nav-bar-text-offset);
}

.nav-bar .nav-item {
    justify-self: start;
    padding-left: var(--nav-bar-text-offset);
}

.nav-bar .logo svg {
    fill: var(--bright-background);
    height: 4rem;
}

.nav-bar .icon svg {
    fill: var(--bright-background);
    height: 1.75rem;
    padding-top: 0.4rem;
}

.header {
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 3fr;
    row-gap: 1rem;
    align-items: center;
    padding: var(--border-padding) calc(2*var(--border-padding));
    background-color: var(--bright-background);
    color: var(--dim-contrast);
}

.shadow {
    box-shadow: 3px 3px 3px var(--shadow);
}

.search-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.search-container .icon svg {
    height: var(--header-icon-height);
    padding-top: 0.25rem;
}

.search-bar {
    flex-grow: 1;
    background-color: var(--dim-background);
    border-style: none;
    border: 1px solid var(--dim-background);
    border-radius: 1.5rem;
    padding: 0 1rem;
    font-family: 'robotoregular';
}

.search-bar:focus {
    outline: none;
    border: 1px solid var(--main-color);
}

.status-container {
    display: flex;
    gap: 1.5rem;
    padding-right: 1rem;
    justify-content: end;
    align-items: center;
}

.status-container .icon svg {
    height: var(--header-icon-height);
    padding-top: 0.25rem;
}

.profile-image {
    height: calc(2*var(--header-icon-height));
    border-radius: 50%;
}

.user-name {
    font-size: 1.25rem;
}

.greeting-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 2fr 3fr;
    column-gap: 1.5rem;
}

.greeting-container .profile-image {
    height: calc(3*var(--header-icon-height));
    grid-row: 1 / 3;
}

.greeting {
    align-self: flex-end;
    font-size: 1.1rem;
}

.user-name-and-handle {
    align-self: start;
    font-size: 1.75rem;
}

.action-buttons-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.action-buttons-container button {
    background-color: var(--main-color);
    color: var(--bright-background);
    border-style: none;
    border-radius: 2rem;
    width: 6.5rem;
    padding: 0.75rem 0;
    font-size: 1.1rem;
}

.main-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--main-content-gap);
    padding: calc(2*var(--border-padding));
    padding-left: var(--border-padding);
    background-color: var(--dim-background);
}

.section-header {
    font-size: 1.25rem;
    padding-bottom: calc(0.5*var(--main-content-gap));
}

.projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: var(--main-content-gap);
}

.project-card {
    display: grid;
    grid-template-columns: 1fr repeat(3, 3.5rem);
    grid-template-rows: 1.5rem 1fr 1.75rem;
    padding: var(--border-padding);
    row-gap: 0.5rem;
    background-color: var(--bright-background);
    border-left: 8px solid var(--bright-contrast);
    border-radius: var(--main-content-border-radius);
}

.project-card .title {
    grid-column: 1 / 5;
    font-size: 1.25rem;
}

.project-card .description {
    grid-column: 1 / 5;
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9rem;
}

.project-card svg {
    height: 1.75rem;
    width: 1.75rem;
}

.project-card svg:nth-of-type(1) {
    grid-column: 2;
}

.project-card svg:nth-of-type(2) {
    grid-column: 3;
}

.project-card svg:nth-of-type(3) {
    grid-column: 4;
}

.announcements {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.announcement-card-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 calc(2*var(--border-padding));
    background-color: var(--bright-background);
    border-radius: var(--main-content-border-radius);
    align-items: center;
}

.announcement-card .preview {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.70rem;
}

.announcement-card p {
    padding: 0 0.25rem;
}

.announcement-card:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    border-top: 1px solid var(--dim-background);
    border-bottom: 1px solid var(--dim-background);
}

.trending {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.trending-card-container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4, 1fr);
    row-gap: calc(.5*var(--border-padding));
    padding: var(--border-padding);
    border-radius: var(--main-content-border-radius);
    background-color: var(--bright-background);
}

.trending-card {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
}

.trending-card .profile-image {
    grid-row: 1 / 3;
    align-self: center;
    height: calc(1.75*var(--header-icon-height));
}

.trending-card .handle {
    align-self: flex-end;
    font-size: 0.9rem;
}

.trending-card .title {
    font-family: 'robotoregular', sans-serif;
    font-size: 0.9rem;
}